.data-list{
    box-sizing: border-box;
max-width:100%;
    display:flex;
   
    flex-direction: column;
 
    margin-top: 10%;
overflow-x:hidden;
}
.test-view{

    max-width:100%;
}



.test-buttons{
    display:flex;
    flex-direction: column;
}

.test-buttons button{
    margin:10px;
}